.foto
{
  width: 100%;
  height: auto;
}

.author-foto
{
  width: 60%;
  height: auto;
  display: block;
  align-self: center;
}

.author-information
{
  padding-top: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
 border: 4px double palevioletred;
}

.author-name
{
  font-family: 'Old Standard TT', serif;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  color: #344055;
}

.author-information .author-description > p {
	font-family: 'Farsan', cursive;
  text-align: center;
  overflow: hidden;
	font-size: 15px;
	color: #7d7d7d;	
}