.aside-wrapper
{
  width: 100%;
    display: flex;
    flex-direction: column;
}

.foto
{
  width: 100%;
  height: auto;
}

.author-foto
{
  width: 50%;
  height: auto;
  display: block;
  align-self: center;
}

.author-information
{
  padding-top: 5%;
  margin-bottom: 10%;
  margin-right: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
 border: 4px double blueviolet;
}

.author-name
{
  font-family: 'Old Standard TT', serif;
  font-size: 2vw;
  display: flex;
  justify-content: center;
  color: #344055;
}

.author-information .author-description > p, 
.hiden-author-information  .author-description > p {
	font-family: 'Farsan', cursive;
  text-align: center;
  overflow: hidden;
	font-size: 1rem;
	color: #7d7d7d;	
}

.hiden-author-information  .author-description > p {
  
    font-size: 2vw;
  }

  .author-foto-hidden img {
    max-width: 100%;
      max-height: 100%;
      object-fit: cover;
  }

.icom-menu
{
  display: flex;
  justify-content: space-around;
  margin-bottom: 10%;
  margin-right: 5%;
}

.subscribe{
  display: flex;
  width: 100%;
  flex-direction: column;
}

.group {
  display: block;
  position: relative;
  margin-bottom: 30px;
  width: 100%;
}

.group .search-group
{
  width: 75%;
}

.group-btn
{
  display: flex;
  width: 100%;
}

.subscribe-input {
  font-size: 16px;
  padding: 10px;
  padding-left: 0;
  padding-right: 0;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
}

.search-input
{
  font-size: 16px;
  padding: 10px;
  display: block;
  width: 90%;
  border: none;
  border-bottom: 1px solid #ccc;
}
input:focus {
  outline: none;
}

label {
  color: #999;
  font-size: 18px;
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 15px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}


input:focus ~ label, input:valid ~ label {
  top: -15px;
  font-size: 14px;
  color:blueviolet;
}

.bar {
  position: relative;
  display: block;
  width: 90%;
}
.bar:before, .bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: blueviolet;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

.subscribe-btn {
  width: 100%;
  margin-bottom: 5%;
  text-align: center;
  display: inline-block;
  color: blueviolet;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .5em 2em;
  outline: none;
  border: 0.2em solid;
  border-radius: 1px;
  border-color: palevioletred;
  transition: 0.2s;
} 
.subscribe-btn:hover { background: rgba(204,102,255, 0.2); }
.subscribe-btn:active { background: blueviolet; }

.search
{
  display: flex;
  flex-direction: row;
  text-align: right;
  justify-content: space-between;
}

.search-btn
{
  display: block;
  text-align: center;
  width: 10%;
  height: 50%;
}

.serach-bar
{
  width: 70%;
}

.tegs
{
  font-family: 'Farsan', cursive;
  text-align: center;
  overflow: hidden;
	font-size: 1em;
  color: #7d7d7d;	
  border: 4px double blueviolet;
}

@media screen and (max-width: 768px) {
  .author-information
  {
    display: none;
  }

  .content
  {
    flex-direction: column;
    display: flex;
  }

  .main-author-information
  {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border: 4px double blueviolet;
    margin-bottom: 5%;
    padding-right: 5%;
  }

  .author-foto-hidden
  {
    width: 30%;
    height: auto;
  }

  .hiden-author-information
  {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
  }
  }