.page-wrapper
{
  max-width: 1200px;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-gap: 3em;

    margin-right: auto;
  margin-left: auto;   
}

html{
  box-sizing: border-box;
}
  
  header,
  footer {
    grid-column: 1 / span 2;
  }
