.page-wrapper
{
  background: #ffebfa;
  max-width: 1200px;
  display: grid;
  grid-gap: 3em;
  margin-left: auto;
  margin-right: auto;
}

html{
  box-sizing: border-box;
}

.content
{
  display: grid;
  grid-template-columns: 75% 25%;
  grid-gap: 3em;
}


  
.page-wrapper header,
.page-wrapper footer {
    grid-column: 1/span 2;
    z-index: 0;
  }

  .main-author-information
  {
    display: none;
  }
