.header-wrwpper
{
  display: flex;
  justify-content: space-between;
}

.main-logo
{
  min-height: 100px;
    max-width: 150px;
}

.magnifier-icon
{
  margin-right: 2rem;
}

.right-header-part
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-menu
{
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.menu-item
{
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  margin: 0.5rem;
}

.icon
{
    max-width: 20px;
    margin-left: 5px;
}

.social-menu
{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

#menuToggle
{
  display: none;
}